<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Calculator</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css"
    />

    <style>
      .alert {
        background: green;
        padding: 1rem;
        border-radius: 10px;
        color: white;
        margin: 0.5rem;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h3>Calculator App</h3>
    </div>

    <!-- Form -->
    <div class="container">
      <form action="/send" method="POST">
        <label for="Number n">n</label>
        <input
          type="text"
          placeholder="Enter n"
          class="u-full-width"
          name="n"
        />

        <label for="Number k">k</label>
        <input
          type="text"
          placeholder="Enter k"
          class="u-full-width"
          name="k"
        />

        <label for="Operation">Operation</label>
        <select class="u-full-width" name="operation">
          <option value="combinations-with-repetitions">Combinations with repetitions</option>
          <option value="combinations-without-repetitions">Combinations without repetitions</option>
        </select>

            <input type="text" name="item_to_include">
            <input type="submit" value="Add Item" class="button">

          <br>
        <input type="submit" value="Calculate" id="calc_btn" />
        <br />
        <div class="alert">
         Amount of possibilities:  {{ sum }}
        </div>
          <div class="alert">
        Combinations:  {{ combinations }}
        </div>
      </form>
    </div>
  </body>
</html>
